<div id="footer-body">
    <div class="container" id="footer-main">
        <div class="icon-box">
            <a target="_blank" href="https://twitter.com/dummyruns" class="social-icon">
                <img class="reg" id="tw-reg" src="../../assets/media/icons/twitter.png">
                <img class="invert" id="tw-invert" src="../../assets/media/icons/twitter-inverted.png">
            </a>
            <a target="_blank" href="https://www.instagram.com/dummyruns/" class="social-icon">
                <img class="reg" src="../../assets/media/icons/instagram.png">
                <img class="invert" src="../../assets/media/icons/instagram-inverted.png">
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/jacob-dumford-7a364a101/" class="social-icon">
                <img class="reg" src="../../assets/media/icons/linkedin.png">
                <img class="invert" src="../../assets/media/icons/linkedin-inverted.png">
            </a>
            <a target="_blank" href="https://github.com/jdumford" class="social-icon">
                <img class="reg" src="../../assets/media/icons/github.png">
                <img class="invert" src="../../assets/media/icons/github-inverted.png">
            </a>
        </div>
    </div>
</div>