<div class="header">
    <img class="header-img" src="../../assets/media/smiling.jpeg">
    <div class="header-text">Programming</div>
    <div class="header-subtext">Aspiring Web Developer and Lover of Beautiful websites</div>
</div>
<div class="spacer"></div>
<div class="grid">
    <div class="row text-center">
        <div class="col-sm-4">
                <img src="../../assets/media/icons/college-graduation.png">
            <div class="grid-head">Education</div >
        </div>
        <div class="col-sm-4">
                <img src="../../assets/media/icons/employee.png">
            <div class="grid-head">Experience</div >
        </div>
        <div class="col-sm-4">
                <img src="../../assets/media/icons/coding.png">
            <div class="grid-head">Development</div >
        </div>
    </div>
    <div class="row" style="border-bottom: solid lightgray 1px; margin-left: 15px; margin-right: 15px;"></div>
    <div class="row text-center">
        <div class="col-sm-4">
            <a href="https://www.nd.edu/" ><img class="grid-icon" src="../../assets/media/icons/nd.png"></a>
            <div class="grid-text-md">
                University Of Notre Dame
            </div>
            <div class="grid-text">BS in Computer Science<br>MS in Computer Science & Engineering</div>
        </div>
        <div class="col-sm-4">
            <a href="https://www.epic.com/"><img class="grid-icon" src="../../assets/media/icons/epic.png"></a>
            <div class="grid-text-md">
                Epic Systems
            </div>
            <div class="grid-text">Software Development Intern</div>
        </div>
        <div class="col-sm-4">
            <a href="https://www.javascript.com/"><img class="grid-icon" src="../../assets/media/icons/JavaScript.png"></a>
            <div class="grid-text-md">
                Languages/Framworks
            </div>
            <div class="grid-text">HTML, JavaScript, CSS, Python, jQuery, Angular, Express, C++</div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-4">
            <div class="grid-text">
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="grid-text">
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="grid-text">
                
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-4">
            <div class="grid-text">
                 I like to think the best way to learn is by doing and that my education is always growing
                 through experiences, but before I began learning by real world experience, I was blessed to
                 spend five years and earn two degrees from a top tier university.
            </div>
        </div>
        <div class="col-sm-4">
            <div class="grid-text">
                Though my career is young, I have had the opportunity to work as a software development intern
                at two fabulous companies. I believe these experiences, combined with the theory I learned in the 
                classroom, have laid the foundation of a successful future career.
            </div>
        </div>
        <div class="col-sm-4">
            <div class="grid-text">
                My favorite languages are the ones I can visually see in action. I'm excited about learning new 
                frameworks and expanding upon my basic understanding of web design principals.
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-4">
            <div class="grid-text">
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="grid-text">
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="grid-text">
                
            </div>
        </div>
    </div>
</div>