<div class="header">
    <img class="header-img" src="../../assets/media/smiling.jpeg">
    <div class="header-text">My Story</div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col">At some point I'm going to write about my athletic and personal journey to where I am now.</div>
    </div>
</div> -->

<div class="strip strip-white">
    <div class="strip-content">
        <div class="strip-text">
                At some point I'm going to write about my athletic and personal journey to where I am now.
        </div>
    </div>
</div>