<!-- <nav id="navbar" class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Jake Dumford</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="">Home </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="blog">Blog</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" routerLink="photos">Photos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        </ul>
        
    </div>
</nav> -->

<div id="navbar1">
    <!-- <div routerLink="" class="nav-head">Jake Dumford</div> -->
    <div class="nav-links">
        <div routerLink="" class="nav-links">Home</div>
        <div routerLink="blog" class="nav-links">Blog</div>
        <div routerLink="photos" class="nav-links">Photos</div>
        <div routerLink="data" class="nav-links">Data</div>
        <div routerLink="code" class="nav-links">Code</div>
        <div routerLink="contact" class="nav-links">Contact</div>
    </div>
    
</div>
