<div class="header">
    <img class="header-img" src="../../assets/media/dirt-road-1-wide.JPG">
    <div class="header-text">Contact</div>
</div>
<br>
<div class="strip strip-color">
    <div class="strip-content">
        <h1>Follow me or reach out. I'd love to connect!</h1>
    </div>
</div>
<div class="container" id="social-container">
    <!-- <div class="row">
        <div class="col-sm text-center">
            <h1>Follow me or reach out. I'd love to connect!</h1>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm">
            <h1 class="color">Social</h1>
            <ul>
                <li>Instagram: <a target="_blank" href="https://www.instagram.com/dummyruns/">@dummyruns</a></li>
                <li>Twitter: <a target="_blank" href="https://twitter.com/dummyruns">@dummyruns</a></li>
                
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1 class="color">Professional</h1>
            <ul>
                <li>Email: jacobdumford@gmail.com</li>
                <li><a target="_blank" href="https://www.linkedin.com/in/jacob-dumford-7a364a101/">LinkedIn</a></li>
                <li>GitHub: <a target="_blank" href="https://github.com/jdumford">@jdumford</a> small but (hopefully) growing</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1 class="color">Athletic</h1>
            <ul>
                <li>Follow my Training on <a target="_blank" href="http://www.running2win.com/community/public-log.asp?m=dummy&k=dum">Running2Win</a></li>
                <li>District Track Club Website: <a target="_blank" href="http://districttrack.com/">districttrack.com</a></li>
            </ul>
        </div>
    </div>
</div>
<br><br>