<div class="row">
    <div class="col-xs-12">
        <h1>My Track and Field Profile</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <h2>Awards/Personal Bests</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3">
        <div class="award-container">
            <div class="award-badge" id="award1"></div>
            <div class="award-text">2</div>
        </div>
        <div></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-4">
        <div class="img-container">
        <img src="../../assets/media/292A9699.jpg" class="img-thumbnail">
        <div></div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="img-container">
            <img src="../../assets/media/292A9919.jpg" class="img-thumbnail">
            <div></div>
        </div>
    </div>
</div>
