<div id="gallery">
    <div class="row">
        <div class="img-row col-sm-3">
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/dtc-1.jpg">
                <div class="img-caption" >First track race in the DTC kit</div>
            </div>
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/parents.JPG">
                <div class="img-caption">My parents and I after my last Meyo Mile in an Notre Dame jersey.</div>
            </div>
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/indoorncaa-2018-handoff.JPG">
                <div class="img-caption">Handing off in the lead after my 1200 leg at the 2018 NCAA Championships.</div>
            </div>
        </div>
        <div class="img-row col-sm-3">
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/four-minutes.JPG">
                <div class="img-caption">So close...</div>
            </div>
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/photo-shoot.PNG">
                <div class="img-caption">Modeling career post running career?</div>
            </div>
        </div>
        <div class="img-row col-sm-3">
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/state-4x8.jpg">
                <div class="img-caption">Crossing the finsh line in the 4x8 to win my first state title!</div>
            </div>
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/penn-finish-1.JPG">
                <div class="img-caption">Trying to hold off late charges by some NJNY boys at the 2018 Penn Relays</div>
            </div>
            
            
            
        </div>
        <div class="img-row col-sm-3">
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/hugging.jpg">
                <div class="img-caption">Celebrating with my teammates after placing 2nd in the DMR at NCAAs.</div>
            </div>
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/workout.JPG">
                <div class="img-caption">Workout:<br>400 - 54.0<br>4x200 - all 26<br>400 - 52.0<br>2.5 min rest</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm img-row">
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/stanford-start.JPG">
                <div class="img-caption">Toeing the line at the Stanford Invitational. I would go on to run my current 1500m PR of 3:42.04.</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm img-row">
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/hugging-kelly.jpg">
                <div class="img-caption">Celebrating with Kelly after breaking the school record in the 1000m. (2:21.45)</div>
            </div>
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/state-1600.jpg">
                <div class="img-caption">2013 OHSAA 1600m final</div>
            </div>
        </div>
        <div class="col-sm img-row">
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/graduation.JPG">
                <div class="img-caption">Graduated from Notre Dame in 2017 with a BS in Computer Science.</div>
            </div>
        </div>
        <div class="col-sm img-row">
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/dtc-2.jpg">
                <div class="img-caption">Excited for what's to come with my new track club!</div>
            </div>
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/fireroad222.JPG">
                <div class="img-caption">Summer training in Flagstaff with Kelly.</div>
            </div>
        </div>
        <div class="col-sm img-row">
            <div class="img-box">
                <img class="grid-img" src="../../assets/media/nb-dmr-2013-2.jpg">
                <div class="img-caption">Breaking the tape to win my last high school race: the New Balance Outdoor Nationals DMR.</div>
            </div>
        </div>
    </div>
</div>

<!-- <img class="grid-img" src="../../assets/media/dmr-with-carlson.jpg">
<img class="grid-img" src="../../assets/media/nb-dmr-2013-2.jpg">
<img class="grid-img" src="../../assets/media/me-and-yared.JPG">
<img class="grid-img" src="../../assets/media/jake-and-kelly-1.JPG">
<img class="grid-img" src="../../assets/media/indoorncaa-2018-start.JPG"> -->

