<div class="header">
    <img class="header-img" src="../../assets/media/regional-2018-start.JPG">
    <div class="header-text">Running My Mouth</div>
</div>

<div class="strip strip-color">
    <h1>Running a lot and writing about it.</h1>
    <div class="strip-text">
        I don't know about much, and I'm always learning, but these are my thoughts on some things.
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="nav-box" routerLink="why-am-i-still-running">
                <img class="nav-img" src="../../assets/media/dirt-road-2-thumbnail.JPG">
                <div class="nav-header">Why Am I Still Running?</div>
                <div class="nav-text">Answering the question you're all thinking.</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="nav-box" routerLink="life-off-the-track">
                <img class="nav-img" src="../../assets/media/wake-surfing-thumbnail.JPG">
                <div class="nav-header">Life Off the Track</div>
                <div class="nav-text">Other than run in circles, what do I do?</div>
            </div>
        </div>
        
    </div>
        <!-- <div class="row">
            <div class="col-sm-6">
                <a routerLink="why-im-still-running">
                <div class="img-container text-center">
                    <img src="../../assets/media/dtc-1.jpg" class="img-thumbnail">
                    <div class="caption">Why I'm Still Running</div>
                </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a routerLink="photos">
                <div class="img-container text-center">
                    <img src="../../assets/media/penn-start.JPG" class="img-thumbnail">
                    <div class="caption">Programmer's Delight</div>
                </div>
                </a>
            </div>
        </div> -->
        
    </div>
