<div class="header">
    <img class="header-img" src="../../assets/media/nau-track.JPG">
    <div class="header-text">Jake Dumford</div>
    <div class="header-subtext">District Track Club</div>
</div>
<div class="strip strip-color">
    <div class="strip-content">
        <h1>Welcome</h1>
        <div class="strip-text">
                My name is Jake Dumford, and I'm a professional runner competing for District Track Club in the Washington D.C. area. When I'm not running, I spend a lot of my time programming. I'm passionate about web development, and I'm trying to build my career as a front-end developer. I built this site from scratch, using the Angular JavaScript framework, and I plan to use it in a couple different ways. First I want a way for anyone who’s interested (hey mom) to be able to follow my running career as I transition from college to the next level. Second, I’m going to start to build a professional portfolio of my development work. Just like my running, and programming careers, this site is a work in progress. Over the coming months and years, I hope to add blog posts, photos, race results, software projects and whatever else I can come up with to the site. To any friends, family, fans, and potential employers, I hope you enjoy the site, and I hope you join me on this journey!
        </div>
    </div>
</div>

<div class="container" id="home-content">
    <div class="row">
        <div class="col-sm-6">
            <div class="nav-box" routerLink="/my-story">
                <img class="nav-img" src="../../assets/media/smiling-thumbnail.jpeg">
                <div class="nav-header">My Story</div>
                <div class="nav-text">How did I get here?</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="nav-box" routerLink="/photos">
                <img class="nav-img" src="../../assets/media/dtc-2-thumbnail.jpg">
                <div class="nav-header">Photos</div>
                <div class="nav-text">Pictures that make me seem cool</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="nav-box" routerLink="/blog">
                <img class="nav-img" src="../../assets/media/thumbsup-thumbnail.JPG">
                <div class="nav-header">Blog</div>
                <div class="nav-text">Random thoughts about running and other things</div>
            </div>
        </div>
    </div>
</div>


